body {

    text-align: center;
    background-color: #7ebce6;

}


button {

    background-color: #ddedf8;
    border-radius: 10px;
    border-color: rgba(127, 127, 223, 0.745);
    border-width: 3px;


}


input {

    border-radius: 15px;
    border-color: black;
    border-width: 3px;
    background-color: lightgray;

}


#loginForm {

    display: none;

}


#loginError {

    display: none;
    color: red;
    font-size: 20px;
    font-weight: bold;


}


#signUpForm {

    display: none;

}


#submitEntryForm {

    display: none;

}


#websiteTable {

    display: none;

}


#changeDetails {

    display: none;

}


#changeDetailsForm {

    display: none;

}


#deleteWebsiteForm {

    display: none;

}


#changeDetailsError {

    display: none;
    color: red;
    font-size: 20px;
    font-weight: bold;

}


#deleteError {

    display: none;
    color: red;
    font-size: 20px;
    font-weight: bold;

}


#exportData {

    display: none;

}


#deleteEntry {

    display: none;

}


#signUpError {

    display: none;
    color: red;
    font-size: 20px;
    font-weight: bold;

}


#submitEntry {

    display: none;

}


#signUpBlankError {

    display: none;
    color: red;
    font-size: 20px;
    font-weight: bold;

}


#passwordRequirements {

    display: none;
    font-size: 20px;

}


#passwordError {

    display: none;
    color: red;
    font-size: 20px;
    font-weight: bold;

}